*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1293px;
    margin: auto;
}


#flex-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.new-to-old{
    width: 266px;
    height: 48px;
    background-color: #EEEEEE;
    border-radius: 10px;
    padding-top: 13px;
    padding-left: 22px;
    margin-right: 14px;
}

h1{
    text-align: center;
    margin-bottom: 55px;
}

.city-animal select{
    width: 266px;
    height: 48px;
    background-color: #EEEEEE;
    border-radius: 10px;
    border: none;
    padding-left: 27px;
    margin-right: 13px;
    padding-right: 27px;
    appearance: none;
}

footer{
    margin-top: 182px;
    background-color: #09AB23;
    width: 100%;
    height: 285px;
    margin: auto;
}

.new-to-old a{
    text-decoration: none;
    color: #000;
}

.lost-pet-blocks{
    width: 24%;
    border: #00CB20 1px solid;
    border-radius: 40px;
    box-shadow: 0px 9px 15px 1px rgba(0, 0, 0, 0.15);
    padding: 18px 19px 18px ;
    margin-top: 52px;
}

.place-pet{
    font-size: 24px;
    font-weight: 600;
}

.place-pet{
    font-size: 16px;
    color: #585858;
}

.color-pet{
    font-size: 14px;
    color: #B8B8B8;
}

.reward-pet{
    font-size: 23px;
    color: #00CB20;
    margin-top: 24px;
}

.main-nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding-left: 0;
}


.main-ul li a{
    font-size: 22px;
    text-decoration: none;
    color: black;
    margin-right: 35px;
}

header{
    padding-top: 41px;
    margin-bottom: 84px;
}

.logo{
    width: 225px;
    height: 67px;
}

#pages{
    display: flex;
    justify-content: center;
    margin-top: 69px;
    margin-bottom: 150px;
}

#pages a{
    color: #000;
    text-decoration: none;
    margin-right: 20px;
    font-size: 36px;
    font-weight: 600;
}

#pages .active{
    color: #00CB20;
}

header #flex-wrapper{
    flex-wrap: nowrap;
}

.main-nav{
    display: flex;
    align-items: center;
}

.city-animal div::after{
    content: url(images/arrow.svg);
    pointer-events: none;
    position: absolute;
    right: 21px;
    top: 13px;
    display: inline-block;
    width: 24px;
}

.city-animal div{
    position: relative;
    display: inline-block;
}

.bth.btn-primary{
    color:#585858;
    background-color: white;
    border: none;
}

.bth.btn-primary:hover{
    background-color:white;
    color:#585858;
    border: none;
}

.btn{
    text-align: left;
}

.btn:hover{
    border: none;
    outline: none;
}

.btn:focus{
    border: none;
    outline: none;
}

.btn p{
    margin: 0;
}

.btn-close{
    background: url(images/cross.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:right ;
    width: 30px;
    height: 23px;
}

.modal-header{
    justify-content: flex-end;
    border: none;
}

.modal-footer{
    border: none;
}

.modal-header .btn-close{
    margin: 0;
    padding: 0;
}

.block-button{
    color: #404040;
    display: flex;
    flex-wrap: nowrap;
}

.litle-grey-text{
    color:#585858;
    margin-bottom: 15px;
    
}

.green-h2{
    color: #00CB20;
    font-size: 24px;
    margin-bottom: 15px;
}

.green-h2 span{
    color: #000;
}

.labrador-size{
    font-size: 24px;
    max-width: 300px;
    margin-bottom: 10px;
}

.sharik-size{
    font-size: 36px;
    margin-bottom: 5px;
}

.image-for-block{
    
    width: 329px;
    height: 380px;
}

.i-see-your-dog{
    padding: 13px 80px;
    background-color: #00CB20;
    border-radius: 15px;
    border: none;
    color: #fff;
    font-size: 22px;
    max-height: 350px;
}

.modal-dialog{
    max-width: 850px;
}

.gog{
    margin-bottom: 22px;
}

.block-button{
    display: flex;
    justify-content: space-around;
}

.modal-content{
    width: 850px;
    border-radius: 10px;
    padding-bottom: 30px;
}

.modal-body{
    padding-left: 40px;
    padding-right:40px ;
}

.labrador-size{
    max-width: 300px;
    font-size: 20px;
}

.image-for-block{
    width: 400px;
    height: 400px;
    border-radius: 40px;
}

.btn-close:hover, .btn-close:focus, .btn-close:active, .btn:focus, .btn:hover, .btn:active, [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled){
    border: none;
    outline: none;
    box-shadow: none;
}

.lost-pet-blocks button{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

@media(max-width: 1317px){
    .container{
        max-width: 92%;
    }
}

@media(max-width: 1041px){
    .lost-pet-blocks{
        width: 32%;
    }
}

@media(max-width: 975px){
    .main-ul a{
        margin-left: 5px;
    }
}

@media(max-width: 927px){ 
    .city-animal{
        width: 55%;
    }

    .city-animal select{
        width: 100%;
    }

    .city-animal div:last-child select{
        padding-right: 38px;
    }   
    
    .lost-pet-blocks{
        width: 45%;
    }
}

@media(max-width: 663px){
    .lost-pet-blocks{
        margin: auto;
        margin-top: 20px;
        width: 83%;
    }
}

@media(max-width: 788px){
    header #flex-wrapper{
        flex-wrap: wrap;
    }

    #flex-wrapper .logo{
        display: block;
        width: auto;
    }
}

@media(max-width: 702px){
    .new-to-old{
        margin-top: 5px;
    }
}

@media(max-width: 663px){
    .city-animal select{
        width: 89%;
        margin-bottom: 10px;
    }

    .lost-pet-blocks button{
        display: inline-block;
    }

    .lost-pet-blocks{
       text-align: center;
    }
}

@media(max-width: 512px){
    .main-ul li a{
        font-size: 18px;
    }
}

@media(max-width: 442px){
    .main-ul li a{
        font-size: 9px;
    }
    .logo{
        height: 41px;
    }
}

@media(max-width: 425px){
    #pages a{
        font-size: 15px;
    }
    .city-animal select{
        width: 266px;
    }
    #flex-wrapper{
        justify-content: center;
    }
    .city-animal{
        display: flex;
        flex-direction: column;
        width: auto;
    }
}

@media(max-width: 364px){
    .lost-pet-blocks{
        width: 95%;
    }
}

@media(max-width: 375px){
    .lost-pet-blocks{
        width: 95%;
    }
}

@media(max-width: 357px){
    .logo{
        margin-bottom: 20px;
    }
}
