*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1293px;
    margin: auto;
}


#company h2{
    width: 443px;
    color: #fff;
    background-color: #00CB20;
    border-radius: 7px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    padding: 10px 0 10px 0;
}

 .company-img {
    width: 433px;
    display: inline-block;
    vertical-align: top;
}

#company-info .company-img{
    
    margin-right: 20px;
}

.company-about{
    display: inline-block;
}

#company-info .company-about p{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 400;
    vertical-align: top;
    max-width: 570px;
    margin-bottom: 0;
}



#company{
    margin-top: 100px;
}




#flex-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header #flex-wrapper{
    flex-wrap: nowrap;
}

#lost-pet-blocks{
    
    border: #00CB20 1px solid;
    border-radius: 40px;
    box-shadow: 0px 9px 15px 1px rgba(0, 0, 0, 0.15);
    padding: 18px 19px 18px ;
    margin-top: 15px;
}
#lost-pet-blocks p{
    margin-bottom: 0;
}
#place-pet{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

#place-pet{
    font-size: 16px;
    color: #585858;
    font-family: 'Open Sans', sans-serif;
}
#color-pet{
    font-size: 14px;
    color: #B8B8B8;
    font-family: 'Open Sans', sans-serif;
}

#reward-pet{
    font-size: 24px;
    color: #00CB20;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 24px;
}




#check-animal{
    max-width: 370px;
    margin: auto;
}


#check-animal a{
    display: inline-block;
    border: 1px solid #00CB20;
    color: #00CB20;
    align-items: center;
    padding: 10px 80px 10px 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-radius: 7px;
    text-decoration: none;
    margin-top: 45px ;
    
}



#request{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

#request .filing-request input{
    background-color: #EEEEEE;
    border-radius: 7px;
    border: none;
    color: #474747;
    font-family:  'Open Sans', sans-serif;
    width: 445px;
    padding-left: 17px;
    margin-left: 15px;
}

#request .filing-request .animal-name input{
    height: 55px;
    margin-bottom: 10px;
}

#request .filing-request .animal-place input{
    height: 55px;
    margin-bottom: 10px;
}

#request .filing-request .animal-discription input{
    height: 225px;
    margin-bottom: 10px;
    padding-bottom: 180px;
}

#request .filing-request .animal-reward input{
    height: 55px;
    margin-bottom: 10px;
}

#request .filing-request .animal-number input{
    height: 55px;
}

#request .animal-img img{
    width: 455px;
    margin-left: 68px;
}

#request .animal-img p{
    color: #626262;
    font-family:  'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 27px;
    margin-top: 10px;
}

#request .request-send{
    position: relative;
}

#request .request-send button{
    background-color: #00CB20;
    color: #FFFFFF;
    width: 445px;
    height: 55px;
    position: absolute;
    bottom: -25px;
    right: 0px;
    border: none;
    border-radius: 10px;
}

#request .animal-img{
    width: 50%;
}

#request .filing-request{
    width: 50%;
}

.btn-primarys{
    background-color: #00CB20;
    color: #FFFFFF;
    width: 445px;
    height: 55px;
    border: none;
    border-radius: 10px;
    margin-right: 125px;
}

.modal-dialog{
    max-width: 1200px;
}

.btn-close{
    background: transparent url(images/button-close.png);
    background-size: contain;
}



img {
    max-width: 100%;
    max-height:100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#flex-wrapper {
    display: flex;
    justify-content: space-between;
}

#main-nav ul {
    display: flex;
    justify-content: space-between;
    width: 648px;
    list-style: none;
    align-items: center;
}

#main-nav ul button {
    background: none;
    cursor: pointer;
    border: #00CB20 1px solid;
}

#main-nav ul button:focus {
    border: none;
    outline: none;
    border: 1px rgb(92, 167, 17) solid;
    outline: rgb(86, 160, 13) 2px;
    color: rgb(81, 148, 15);
}

#main-nav ul button {
    color: #00CB20;
    padding: 18px 110px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
}

#main-ul li a {
    font-size: 22px;
    text-decoration: none;
    color: black;
}

#flex-wrapper {
    padding-top: 41px;
    margin-bottom: 84px;
}

.logo {
    
    height: 67px;
}

.status-text h1 {
    max-width: 706px;
    font-size: 64px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 0;
    line-height: 100%;
    margin-bottom: 22px;
}

.i-lost-pet {
    background: none;
    font-size: 20px;
    color: white;
    background-color: #00CB20;
    padding: 23px 99px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    max-width: 409px;
    display: block;
}
.status-text button:focus {
    border: none;
    outline: none;
}

.status-block {
    background-image: url(images/people-dog.svg);
    background-position: right;
    background-repeat: no-repeat;
    height: 653px;
}

.status-text {
    padding-top: 107px;
}

#lost-pet-blocks {
    width: 305px;
    height: 413px;
    border: #00CB20 1px solid;
    border-radius: 40px;
    box-shadow: 0px 9px 15px 1px rgba(0, 0, 0, 0.15);
    padding: 18px 19px 18px;
}

#place-pet {
    font-size: 24px;
    font-weight: 600;
}

#place-pet {
    font-size: 16px;
    color: #585858;
}

#color-pet {
    font-size: 14px;
    color: #B8B8B8;
}

#reward-pet {
    font-size: 24px;
    color: #00CB20;
    margin-top: 24px;
}


.block-button {
    color: #404040;
    display: flex;
    flex-wrap: nowrap;
}

.litle-grey-text {
    color: #585858;
    margin-bottom: 15px;
}

.green-h2 {
    color: #00CB20;
    font-size: 24px;
    margin-bottom: 15px;
}

.green-h2 span {
    color: #000;
}

.labrador-size {
    font-size: 24px;
    max-width: 300px;
    margin-bottom: 10px;
}

.sharik-size {
    font-size: 36px;
    margin-bottom: 5px;
}

.image-for-block {
    width: 329px;
    height: 380px;
}

.i-see-your-dog {
    padding: 13px 80px;
    background-color: #00CB20;
    border-radius: 15px;
    border: none;
    color: #fff;
    font-size: 22px;
    max-height: 350px;
}

.gog {
    margin-bottom: 22px;
}

.block-button {
    display: flex;
    justify-content: space-around;
}


.labrador-size {
    max-width: 300px;
    font-size: 20px;
}

.image-for-block {
    width: 370px;
    height: 400px;
    border-radius: 40px;
}



.nice-footer {
    padding-top: 70px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
}
.hiring a{
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}

.data-name {
    margin-top: 100px;
    color: #fff;
    text-align: left;
    font-size: 14px;
}

.navi a {
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}

.telephone {
    display: inline-block;
    
}



.telephone a {
    text-decoration: none;
    color: #fff;
    
}
.telephone p{
    margin-bottom: 0;
}

.history-pets {
    margin-top: 100px;
    background-color: #00CB20;
    font-weight: 600;
    color: #fff;
   
    max-width: 770px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 98px;
    font-size: 50px;
    padding-top: 28px;
    padding-left: 26px;
}



.description {
    display: flex;
    flex-wrap: wrap;
}

.man-and-dog {
    padding-top: 23px;
    padding-left: 23px;
    width: 264px;
    height: 260px;
    border-radius: 48px;
}

.name-pets-and-people {
    
    font-size: 25px;
    font-weight: 600;
}

.description-about-pets-and-people {
    
    
    font-size: 18px;
    font-weight: 400;
}

.image-pets-history {
    margin-right: 25px;
    margin-bottom: 25px;
}

.data-grey {
   
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.full {
    background-color: #fff;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    width: 545px;
    
    margin-right: 25px;
    flex-wrap: wrap;
    margin-bottom: 25px;
    border-radius: 40px;
}

.info-about-pets {
    padding-top: 46px;
    max-width: 254px;
}

.data-grey {
    padding-top: 0px;
}

footer {
    margin-top: 182px;
   
    width: 100%;
    height: 270px;
    background-color: #09AB23;
}



@media(max-width:1380px) {
    .container {
        max-width: 92%;
    }
}







@media(max-width:1317px) {
    .status-block {
        background-image: none;
        height: 100%;
    }
    .status-text h1 {
        margin: auto;
        text-align: center;
    }
    .i-lost-pet {
        margin: auto;
        margin-top: 50px;
    }
}
@media(max-width: 1270px) {
    .nice-footer {
        padding-top: 50px;
        color: #fff;
        display: flex;
        
        font-weight: 400;
    }
    .data-name {
        margin-top: 50px;
        color: #fff;
        text-align: left;
        font-size: 10px;
    }
    
    
    
  
}

@media(max-width: 1040px) {
    .company-img{
        max-width: 300px;
    }
    .company-about p{
        font-size: 20px;
    }
   
    footer {
        margin-top: 70px;
        height: 200px;
    }
}
@media(max-width:1024px){
    
    #request .animal-img img{
        margin-left: 20px;
        width: 380px;
    }
    #request .animal-img p{
        font-size: 23px;
    }
    #request .filing-request input{
        width: 380px;
    }
    .btn-primarys{
        width: 380px;
        margin-right: 35px;
    }
    .modal-dialog{
        max-width: 900px;
    }
  
}
@media(max-width:970px) {
    header #flex-wrapper {
        flex-wrap: wrap;
    }
    #main-nav ul {
        width: 600px;
    }
    #main-nav ul button {
        padding: 15px 100px;
        font-size: 18px;
        margin-right: 20px;
    }
    #main-ul li a {
        font-size: 19px;
    }
}
@media(max-width: 901px) {
   
    .history-pets {
    
   
        padding-bottom: 14px;
            
        max-width: 500px;   
            
        padding-top: 12px;
        padding-left: 15px;
        
        
        
        margin-bottom: 70px;
        font-size: 40px;
        
    }
    .company-img{
        max-width: 250px;
    }
}
@media(max-width:865px) {
    #main-nav  {
        width: 600px;
    }
    #main-nav ul button {
        padding: 13px 95px;
        font-size: 18px;
    }
    #main-ul li a {
        font-size: 18px;
    }
    .status-text h1 {
        font-size: 54px;
        max-width: 600px;
    }
    .i-lost-pet {
        max-width: 309px;
        padding: 20px 80px;
        font-size: 15px;
    }
}
@media(max-width: 835px) {
   
    footer {
        margin-top: 70px;
        height: 180px;
    }
    .history-pets {
        padding-right: 10px;
       
        
    }
}
@media(max-width:825px) {
   #main-nav{
       width: 600px;
   }
    .logo {
        height: 50px;
    }
}
@media(max-width:768px){
   
    #request .animal-img img{
        margin-left: 20px;
        width: 270px;
    }
    #request .animal-img p{
        font-size: 18px;
    }
    #request .filing-request input{
        width: 250px;
    }
    .btn-primarys{
        width: 250px;
        margin-right: 200px;
    }
    .modal-dialog{
        max-width: 650px;
    }
    #company-info .company-about p{
        font-size: 25px;
    }
    #company-info .company-img{
        margin-right: 40px;
    }
    
}

@media(max-width:662px) {
    #main-nav ul {
        width: 550px;
    }
    .logo {
        width: 120px;
        height: 40px;
    }
    #main-nav ul button {
        padding: 10px 85px;
        font-size: 18px;
    }
    #main-ul li a {
        font-size: 16px;
    }
    .status-text h1 {
        font-size: 47px;
        max-width: 590px;
    }
    .i-lost-pet {
        max-width: 255px;
        padding: 15px 65px;
        font-size: 13px;
    }
    #main-nav {
        margin-top: 20px;
        margin: auto;
    }
    #flex-wrapper {
        margin-bottom: 50px;
    }
    
    .history-pets {
       
       
      
       font-size: 38px;
       padding-left: 30px;
    }
    .image-pets-history{
        margin-right: 15px;
        padding-bottom: 23px;
        
        width: 195px;
        height: 234px;
     
    }
    .full{
        width: 400px;
    }
    .info-about-pets{
        max-width: 180px;
    }

    .name-pets-and-people{
        font-size: 20px;
    }
    .description-about-pets-and-people{
        font-size: 15px;
    }
    .man-and-dog{
        padding-left: 10px;
    }
}

@media(max-width:568px) {
    .status-text h1 {
        font-size: 42px;
        max-width: 490px;
    }
    
    #main-nav ul button {
        padding: 8px 75px;
        font-size: 16px;
    }
    #main-ul li a {
        font-size: 14px;
    }
    #main-nav ul {
        width: 460px;
    }
    header {
        margin-bottom: 40px;
    }
    .logo {
        height: 35px;
    }
   
}
@media(max-width:500px) {
    .status-text h1 {
        font-size: 39px;
        max-width: 450px;
    }
    #main-nav ul button {
        padding: 7px 65px;
        font-size: 14px;
        margin-right: 10px;
    }
    #main-ul li a {
        font-size: 12px;
    }
    #main-nav ul {
        width: 400px;
        padding-left: 0;
    }
    .status-text{
        padding-top: 50px;
    }
    #company h2{
        width: 320px;
        font-size: 19px;
    }
    .history-pets {
       
       
      
        font-size: 30px;
        padding-left: 20px;
     }
}
@media(max-width:476px){
    .full{
        width: 300px;
    }
    .info-about-pets{
        max-width: 250px;
        margin: auto;
        padding-top: 20px;
    }

    .name-pets-and-people{
        font-size: 22px;
    }
    .description-about-pets-and-people{
        font-size: 17px;
    }
    .man-and-dog{
        padding-left: 5px;
    }
    .image-pets-history{
        margin-right: 15px;
        padding-bottom: 10px;
        margin: auto;
        width: 260px;
        height: 264px;
     
    }
}

@media(max-width:460px) {
    .status-text h1 {
        font-size: 35px;
        max-width: 400px;
    }
    #main-nav  {
        width: 385px;
    }
    #main-nav ul button {
        padding: 6px 60px;
        font-size: 12px;
    }
    #main-ul li a {
        font-size: 11px;
    }
    .logo {
        height: 35px;
        margin-bottom: 10px;
    }
    .nice-footer{
        font-size: 11px;
    }
}
@media(max-width:425px) {
    .status-text h1 {
        font-size: 32px;
        max-width: 380px;
    }
    #main-nav  {
        width: 370px;
    }
   
    .history-pets {
       
       
      
        font-size: 23px;
        padding-left: 15px;
     }
   
    
    #request{
        flex-direction: column;
    }
    #request .animal-img img{
        width: 280px;
    }
    #request .animal-img{
        width: 100%;
    }
    #request .animal-img p{
        font-size: 15px;
    }
    #request .filing-request input{
        width: 280px;
    }
    .btn-primarys{
        width: 150px;
        margin-right: 90px;
    }
    .modal-dialog{
        max-width: 350px;
        margin-left: 45px;
    }
      
    
    #company-info .company-img{
        margin-right: 10px;
    }
    
    #company-info .company-img img{
        width: 310px;
    }
   
    #check-animal{
        max-width: 310px;
        margin: auto;
    }
    #check-animal a{
        font-size: 12px;
        padding: 5px 60px 5px 60px;
    }
}
@media(max-width:400px) {
    main-ul {
        width: 345px;
    }
    #main-nav ul button {
        padding: 6px 45px;
        font-size: 12px;
    }
    .i-lost-pet {
        max-width: 200px;
        padding: 13px 40px;
        font-size: 11px;
        margin-top: 18px;
    }
    .status-text h1 {
        font-size: 29px;
        max-width: 350px;
    }
    #flex-wrapper {
        margin-bottom: 35px;
    }
    
}
@media(max-width:375px) {
    #main-nav ul {
        width: 320px;
    }
    #main-nav ul button {
        font-size: 11px;
    }
    #main-ul li a {
        font-size: 11px;
    }
    .status-text h1 {
        font-size: 24px;
        max-width: 325px;
    }
    .i-lost-pet {
        max-width: 180px;
        padding: 12px 35px;
        font-size: 11px;
        margin-top: 18px;
    }
    #lost-pet-blocks {
        width: 210px;
        height: 390px;
        
        padding: 15px 17px 15px;
    }
    #reward-pet{
        font-size: 18px;
    }
    #request .animal-img img{
        width: 250px;
    }
    #request .animal-img p{
        font-size: 14px;
    }
    #request .filing-request input{
        width: 260px;
    }
    .btn-primarys{
        width: 120px;
        margin-right: 85px;
    }
    .modal-dialog{
        max-width: 320px;
        margin-left: 30px;
    }
   
    #company-info .company-img{
        margin-right: 10px;
    }
    #check-animal a{
       margin-left: 42px;
    }
    #company-info .company-img img{
        width: 220px;
    }
    #company h2{
        width: 230px;
        font-size: 15px;
    }
}

@media(max-width:345px) {
    #main-nav ul  {
        width: 270px;
    }
    #main-nav ul button {
        padding: 5px 50px;
        font-size: 8px;
    }
    #main-ul li a {
        font-size: 8px;
    }
    
    .full{
        width: 250px;
    }
    .info-about-pets{
        max-width: 200px;
        margin: auto;
        padding-top: 15px;
    }

    .name-pets-and-people{
        font-size: 20px;
    }
    .description-about-pets-and-people{
        font-size: 15px;
    }
    .man-and-dog{
        padding-left: 5px;
    }
    .image-pets-history{
        
        padding-bottom: 10px;
        margin: auto;
        width: 240px;
        height: 244px;
     
    }
}
@media(max-width:325px){
    #request .animal-img img{
        width: 220px;
    }
    #request .animal-img p{
        font-size: 13px;
    }
    #request .filing-request input{
        width: 240px;
    }
    .btn-primarys{
        width: 120px;
        margin-right: 72px;
    }
    .modal-dialog{
        max-width: 290px;
        margin-left: 19px;
    }
    #company-info .company-about p{
        font-size: 15px;
    }
    #company-info .company-img{
        margin-right: 5px;
    }
    #check-animal a{
       margin-left: 14px;
    }
    #company-info .company-img img{
        width: 150px;
        margin-top: 20px;
    }
    #company h2{
        width: 210px;
        font-size: 14px;
    }
}




