.container{
    max-width: 1293px;
    margin: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    max-height: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
}
#flex-wrapper{
    display: flex;
    justify-content: space-between;
}
#main-nav ul{
    display: flex;
    justify-content: space-between;
    width: 648px;
    list-style: none;
    align-items: center;
}
#main-nav ul button{
    background: none;
    cursor: pointer;
    border: #00CB20 1px solid;
}
#main-nav ul button:focus{
    border: none;
    outline: none;
    border: 1px rgb(92, 167, 17) solid;
    outline: rgb(86, 160, 13) 2px;
    color: rgb(81, 148, 15);
}
#main-nav ul button {
    color: #00CB20;
    padding: 18px 110px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
}
#main-ul li a{
    font-size: 22px;
    text-decoration: none;
    color: black;
}
#flex-wrapper{
    padding-top: 41px;
    margin-bottom: 84px;
}
.logo{
   
    height: 67px;
    
}
.status-text h1{
    max-width: 706px;
    font-size: 64px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 0;
    line-height: 100%;
    margin-bottom: 22px;
}
.status-text button{
    background: none;
    font-size: 20px;
    color: white;
    background-color: #00CB20;
    padding: 23px 99px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    max-width: 409px;
    display: block;
    
}
.status-text button:focus{
    border: none;
    outline: none;
    
}
.status-block{
    background-image: url(images/people-dog.svg);
    background-position: right ;
    background-repeat: no-repeat;
    height: 653px;
}
.status-text{
    padding-top: 107px;
}
#lost-pet-blocks{
    width: 305px;
    height: 413px;
    border: #00CB20 1px solid;
    border-radius: 40px;
    box-shadow: 0px 9px 15px 1px rgba(0, 0, 0, 0.15);
    padding: 18px 19px 18px ;
}
#place-pet{
    font-size: 24px;
    font-weight: 600;
}
#place-pet{
    font-size: 16px;
    color: #585858;
}
#color-pet{
    font-size: 14px;
    color: #B8B8B8;
}
#reward-pet{
    font-size: 24px;
    color: #00CB20;
    margin-top: 24px;
}
.btn-primary{
    color:#585858;
    background-color:white;
}
.btn-primary:hover{
    background-color:white;
    color:#585858;
    
}
.btn{
    text-align: left;
    
}
.btn p{
    margin: 0;
}
.btn-close{
    background: url(images/cross.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:right ;
   
    width: 30px;
    height: 23px;
}

.modal-header{
    justify-content: flex-end;
    border: none;
}
.modal-footer{
    border: none;
}
.modal-header .btn-close{
    margin: 0;
    padding: 0;
}
.block-button{
    color: #404040;
    display: flex;
    flex-wrap: nowrap;
}
.litle-grey-text{
    color:#585858;
    margin-bottom: 15px;
    
}
.green-h2{
    color: #00CB20;
    font-size: 24px;
    margin-bottom: 15px;
}
span{
    color: #000;
}
.labrador-size{
    font-size: 24px;
    max-width: 300px;
    margin-bottom: 10px;
}
.sharik-size{
    font-size: 36px;
    margin-bottom: 5px;
}
.image-for-block{
    border-radius: 40px;
    width: 329px;
height: 380px;
}
.i-see-your-dog{
    padding: 18px 80px;
    background-color: #00CB20;
    border-radius: 15px;
    border: none;
    color: #fff;
    font-size: 24px;
    max-height: 350px;
}
.text-for-block{
    margin-left: 15px;
}
.gog{
    margin-bottom: 22px;
}
@media (min-width: 576px){
    .modal-dialog{
        max-width:700px;
    }
}
@media(max-width:1317px){
    .status-block{
        background-image: none;
    }
    .status-text h1{
        margin: auto;
        text-align: center;
    }
    .status-text button{
        margin: auto;
        margin-top: 50px;
    }
   
@media(max-width:970px){
    #flex-wrapper{
        flex-wrap: wrap;
        
    }
    #main-nav ul{
        width: 550px;
    }
    #main-nav ul button{
        padding: 15px 100px;
        font-size: 18px;
    }
    #main-ul li a{
        font-size: 19px;
    }
}
@media(max-width:865px){
    #main-nav ul{
        width: 525px;
    }
    #main-nav ul button{
        padding: 13px 95px;
        font-size: 18px;
    }
    #main-ul li a{
        font-size: 18px;
    }
    .status-text h1{
        font-size: 54px;
        max-width: 625px;
    }
    .status-text button{
        max-width: 309px;
        padding: 20px 80px;
        font-size: 16px;
        
    }
}
@media(max-width:825px){
    #main-nav ul{
        width:600px;
    }
    .logo{
       
        height:50px ;
    }
}
@media(max-width:1380px){
    .container{
        max-width: 92%;
    }
}
@media(max-width:650px){
    #main-nav ul{
        width:500px;
       
    }
    .logo{
        width: 120px;
        height: 40px;
    }
  
    #main-nav ul button{
        padding: 10px 85px;
        font-size: 18px;
    }
    #main-ul li a{
        font-size: 18px;
    }
    .status-text h1{
        font-size: 47px;
        max-width: 590px;
    }
    .status-text button{
        max-width: 250px;
        padding: 15px 60px;
        font-size: 14px;
        
    }
    #main-nav{
        margin-top: 20px;
        margin: auto;
    }
    #flex-wrapper{
        margin-bottom: 50px;
    }
}
@media(max-width:568px){
    .status-text h1{
        font-size: 42px;
        max-width: 490px;
    }
    #main-nav ul button{
        padding: 8px 80px;
        font-size: 16px;
    }
    #main-ul li a{
        font-size: 16px;
    }
    #main-nav ul{
        width:460px;
       
    }
    header{
        margin-bottom: 40px;
    }
    .logo{
      
        height: 35px;
    }
}
@media(max-width:500px){
    .status-text h1{
        font-size: 39px;
        max-width: 450px;
    }
    #main-nav ul button{
        padding: 7px 70px;
        font-size: 14px;
    }
    #main-ul li a{
        font-size: 14px;
    }
    #main-nav ul{
        width:400px;
       
    }
}
@media(max-width:460px){
    .status-text h1{
        font-size: 35px;
        max-width: 400px;
    }
    #main-nav ul{
        width:385px;
       
    }
    #main-nav ul button{
        padding: 6px 60px;
        font-size: 12px;
    }
    #main-ul li a{
        font-size: 12px;
    }
    .logo{
        
        height: 35px;
        margin-bottom: 10px;
    }
}
@media(max-width:425px){
    .status-text h1{
        font-size: 32px;
        max-width: 380px;
    }
    #main-nav ul{
        width:370px;
       
    }
}
@media(max-width:400px){
    #main-nav ul{
        width:345px;
       
    }
    #main-nav ul button{
        padding: 6px 55px;
        font-size: 12px;
    }
    .status-text button{
        max-width: 200px;
        padding: 13px 45px;
        font-size: 12px;
        margin-top: 18px;
        
    }
    .status-text h1{
        font-size: 29px;
        max-width: 350px;
    }
    #flex-wrapper{
        margin-bottom: 35px;
    }
}
@media(max-width:370px){
    #main-nav ul{
        width:320px;
       
    }
    #main-nav ul button{
      
        font-size: 11px;
    }
    #main-ul li a{
        font-size: 11px;
    }
    .status-text h1{
        font-size: 26px;
        max-width: 325px;
    }
    .status-text button{
        max-width: 180px;
        padding: 12px 35px;
        font-size: 11px;
        margin-top: 18px;
    }
}
@media(max-width:345px){
    #main-nav ul{
        width:300px;
       
    }
    #main-nav ul button{
        padding: 5px 50px;
        font-size: 10px;
    }
    #main-ul li a{
        font-size: 10px;
    }
    #flex-wrapper{
        margin-bottom: 25px;
    }
}